.page-container {
  background-color: #f4f2f3;
  font-family: "Oswald", sans-serif;
  width: 8.5in;
  height: 11in;
  position: relative;
}

.right-page-container {
  position: absolute;
  right: 0;
  width: 200px;
  height: 11in;
  top: 0;
}

.title-container {
  background-color: #489fb5;
}

.contact-container {
  background-color: #489fb5;
  text-align: center;
}

.skill-container {
  background-color: #e6c229;
}

.profile-container {
  padding: 30px;
  background: #16697a;
  text-align: center;
  color: #fff;
}
