.page-container {
  background-color: #f4f2f3;
  margin: auto;
  font-family: "Oswald", sans-serif;
  width: 8.5in;
  height: 11in;
  position: relative;
}

.right-page-container {
  background-color: #489fb5;
  position: absolute;
  right: 0;
  width: 200px;
  top: 0;
  bottom: 10px;
}

.overview-container {
  position: absolute;
  left: 10px;
  width: 600px;
  top: 50px;
}

.skills-bar {
  width: 75%;
  padding: 10px;
}

.title-container {
  background-color: #489fb5;
}

.contact-container {
  text-align: center;
}

.skill-container {
  background-color: #e6c229;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.profile-container {
  padding: 30px;
  background: #16697a;
  text-align: center;
  color: #fff;
}
