.page-container {
  background-color: #f4f2f3;
  font-family: 'Oswald', sans-serif;
}

.title-container {
  background-color: #489fb5;
}

.contact-container {
  background-color: #489fb5;
}

.skill-container {
  background-color: #e6c229;
}

.profile-container {
  padding: 30px;
  background: #16697a;
  text-align: center;
  color: #fff;
}
